[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=pak
WorkingDirectory=/home/pak/sites/SITENAME/source
ExeStart=/home/pak/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket myproject.wsgi:application

[Install]
WantedBy=multi-user.target